.minuteSlot.selected {
  background-color: navy;
}

table {
  width: 95%;
  border-collapse: collapse;
}

table, td, th {
  border: 2px solid gray;
}

#dayColumn {
  width: 5%;
}

#totalColumn {
  width: 5%;
}

.hourColumn {
  width: 9%;
}

.minuteSlot {
  color: white;
  text-align: end;
  user-select: none;
  background-color: #454545;
  flex: 1;
  padding-right: 2%;
}

.hourSlot {
  display: flex;
  padding: 0;
}