{{define "base"}}
<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>Shift Scheduler - {{template "title" .}}</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<main>
			{{template "main" .}}
		</main>
		<br>
		<footer>Source code found <a href='https://github.com/SimicNinja/OIT-Shift-Scheduler'>here</a></footer>

		{{template "script" .}}
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
	</body>
</html>
{{end}}