{{define "title"}}Home{{end}}

{{define "main"}}
	<h2>The Schedule</h2>
	<button id = "selectBtn">Select Mode</button>
	
	<table class = "week">
		<tr>
			<th id = "dayColumn">Day</th>
			{{range .Hours}}
				<th class = "hourColumn">{{.}}</th>
			{{end}}
		</tr>
		{{range .Days}}
			{{$day := .}}
			<tr>
				<td>{{.}}</td>
				{{range $.Hours}}
					{{$hour := .}}
					<td>
						{{range $.Minutes}}
							<div class = "timeSlot" day = "{{$day}}" hour = "{{$hour}}" minute = "{{.}}">.</div>
						{{end}}
					</td>
				{{end}}
			</tr>
		{{end}}
	</table>
{{end}}