{{define "schedule"}}
	<table class = "week">
		<tr>
			<th id = "dayColumn">Day</th>
			{{range .Week.Hours}}
				<th class = "hourColumn">{{.Label}}</th>
			{{end}}
			<th id = "totalColumn">Totals</th>
		</tr>
		{{range .Week.Days}}
			{{$day := .}}
			<tr>
				<td class = "daySlot">{{.}}</td>
				{{range $.Week.Hours}}
					{{$hour := .Value24}}
					<td>
						<div class = "hourSlot">
						{{range $.Week.Minutes}}
							<div class = "minuteSlot" day = "{{$day}}" hour = "{{$hour}}" minute = "{{.}}">
								{{printf ":%02d" .}}
							</div>
						{{end}}
						</div>
					</td>
				{{end}}
				<td id = "{{.}}Total">0hrs 0mins</td>
			</tr>
		{{end}}
	</table>

	<h2 id = "weekTotal">Weekly Total: </h2>
{{end}}